.mail-message,
.mail__message-label,
.mail__icon-checked {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.mail-message {
  justify-content: space-between;
  padding: 2rem 1.5rem;
  cursor: pointer;
  transition: all 0.15s ease-in;
  flex-wrap: wrap;
}

.mail-message:hover {
  background-color: var(--card-bg5);
}

.mail__icon-checked svg.active,
.mail__icon-checked svg.active path {
  fill: #ffd56d;
  stroke: #ffd56d;
}

.mail__icon-checked {
  gap: 2rem;
}

.mail-title {
  font-weight: 400;
  font-size: 1.6rem;
}

.mail__message-label span {
  font-weight: 200;
  font-size: 1.2rem;
}

.mail__message-label p {
  font-weight: 200;
  font-size: 1.4rem;
  width: 100%;
  max-width: 200px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mail__message-label {
  gap: 1.5rem;
}

.mail__message-label .Primary,
.mail__message-label .Work,
.mail__message-label .Friends,
.mail__message-label .Social {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.mail__message-label .Primary {
  color: #00b69b;
  background-color: #00b69b2b;
}

.mail__message-label .Work {
  color: #fd9a56;
  background-color: #fd9a562b;
}

.mail__message-label .Friends {
  color: #5a8cff;
  background-color: #5a8cff2b;
}

.mail__message-label .Social {
  color: #d456fd;
  background-color: #d456fd2b;
}

/* 

TODO -o-o-o-o-o-o-o-o-o-o-o-o-o-o-

          * Responsive

TODO -o-o-o-o-o-o-o-o-o-o-o-o-o-o-

*/

@media (max-width: 144rem) {
  .mail-title {
    font-size: 1.4rem;
  }
}

@media (max-width: 37rem) {
  .mail__message-label p {
    max-width: 17rem;
  }
}
