.mail-message,
.mail__message-label,
.mail__icon-checked {
  display: flex;
  align-items: center;
}

.mail-message {
  justify-content: space-between;
  padding: 20px 15px;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.mail-message:hover {
  background-color: #f3f3f3;
}

.mail__icon-checked svg.active,
.mail__icon-checked svg.active path {
  fill: #ffd56d;
  stroke: #ffd56d;
}

.mail__icon-checked {
  gap: 20px;
}

.mail-title {
  font-weight: 400;
  font-size: 16px;
}

.mail__message-label span {
  font-weight: 200;
  font-size: 12px;
}

.mail__message-label p {
  font-weight: 200;
  font-size: 14px;
}

.mail__message-label {
  gap: 15px;
}

.mail__message-label .Primary,
.mail__message-label .Work,
.mail__message-label .Friends,
.mail__message-label .Social {
  padding: 5px 10px;
  border-radius: 5px;
}

.mail__message-label .Primary {
  color: #00b69b;
  background-color: #00b69b2b;
}

.mail__message-label .Work {
  color: #fd9a56;
  background-color: #fd9a562b;
}

.mail__message-label .Friends {
  color: #5a8cff;
  background-color: #5a8cff2b;
}

.mail__message-label .Social {
  color: #d456fd;
  background-color: #d456fd2b;
}
