.pricing-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  width: 100%;
  max-width: 40rem;
  height: auto;
  overflow: hidden;
  background: url("/public/image/Bg/Pattern.png") var(--card-bg);
  padding: 3rem 1rem;
}

.pricing-box img {
  width: 100%;
  height: auto;
}

.pricing-box__bottom,
.pricing-box__top,
.pricing-box__texts-wrapper,
.pricing-box__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing-box__top {
  padding-bottom: 1.5rem;
  gap: 1rem;
}

[dir="rtl"] .pricing-box__top {
}

.pricing-box__top h4 {
  font-size: 2.2rem;
  font-weight: 400;
}

[dir="rtl"] .pricing-box__top h4 {
  font-size: 2.6rem;
  font-weight: 700;
}

.pricing-box__top h5 {
  font-size: 2.2rem;
  font-size: 1.6rem;
  font-weight: 200;
}

[dir="rtl"] .pricing-box__top h5 {
  font-weight: 600;
  margin-top: 1rem;
}

.pricing-box__top span {
  margin-top: 1rem;
  font-size: 4.6rem;
  font-weight: 500;
  color: #4880ff;
}

.pricing-box__body {
  gap: 5rem;
  padding: 1.5rem;
  border-top: 0.1rem solid var(--border);
  border-bottom: 0.1rem solid var(--border);
  font-weight: 300;
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.5;
}

.pricing-box__body p {
  color: var(--text-7);
  text-decoration: line-through;
}

.pricing-box__bottom {
  padding-top: 1.5rem;
}

.pricing-box__bottom a {
  border: 0.3rem solid #4880ff;
  padding: 1.5rem 3rem;
  border-radius: 3rem;
  font-size: 1.6rem;
  color: #4880ff;
  transition: all 0.15s ease-in;
}

.pricing-box__bottom a:hover {
  background-color: #4880ff;
  color: #ffffff;
}

.pricing-box__bottom a span {
  text-decoration: none !important;
}

.pricing-box__bottom span {
  margin-top: 2rem;
  font-size: 1.6rem;
  font-weight: 300;
  text-decoration: underline;
  text-align: center;
  line-height: 1.5;
}

/* 

TODO -o-o-o-o-o-o-o-o-o-o-o-o-o-o-

          * Responsive

TODO -o-o-o-o-o-o-o-o-o-o-o-o-o-o-

*/

@media (max-width: 1024px) {
  .pricing-box {
    max-width: 30rem;
  }
  .pricing-box__body {
    gap: 4rem;
  }
}

@media (max-width: 768px) {
  .pricing-box__body {
    gap: 2rem;
  }
  .pricing-box {
    max-width: 20rem;
  }
  .pricing-box__body {
    font-size: 1.4rem;
  }
  .pricing-box__top span {
    font-size: 4rem;
  }
  .pricing-box__top h4 {
    font-size: 1.5rem !important;
  }
  .pricing-box__top h5 {
    font-size: 1.5rem;
  }
  .pricing-box__bottom a {
    padding: 0.5rem 2.5rem;
  }
  .pricing-box__bottom a span {
    font-size: 1.3rem;
  }
}
