.product-box {
  background-color: var(--card-bg);
  border-radius: 2rem;
  width: 39rem;
  height: auto;
  max-width: 39rem;
  display: flex;
  flex-direction: column;
}

.product-box__top {
  display: flex;
  justify-content: center;
  position: relative;
  flex-basis: 80%;
}

.product-box__top img {
  max-width: 25rem;
  max-height: 25rem;
  object-fit: contain;
  padding: 1rem;
}

.product-box__bottom {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.189);
  flex-basis: 20%;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__stars-rating {
  display: flex;
  align-items: center;
  color: var(--text-6);
  gap: 1rem;
}

.product__stars-rating span {
  font-size: 1.4rem;
}

.product__title-price h3 {
  font-size: 1.8rem;
  color: var(--text);
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 25rem;
  text-wrap: nowrap;
}

.product__title-price h4 {
  font-size: 1.6rem;
  color: #6091ff;
  margin-top: 1rem;
}

.product-favorite__icon span {
  background-color: var(--card-bg4);
  display: flex;
  padding: 1rem;
  border-radius: 50%;
}

.product-favorite__icon svg path {
  stroke: var(--text);
}

.product__edit-btn a {
  cursor: pointer;
}

.product__edit-btn a span {
  background-color: var(--card-bg3);
  color: var(--text);
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

/* ? */

.right-left__arrow {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.arrow-right,
.arrow-left {
  background-color: #f4f4f480;
  padding: 1rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.15s ease;
}

.arrow-right:hover,
.arrow-left:hover {
  background-color: #c7c7c7d3;
}
