.invoice-wrapper {
  margin-top: 2rem;
  background-color: var(--card-bg);
  padding: 2rem 6rem;
  border-radius: 1rem;
  border: 0.1rem solid #b9b9b9;
}

[dir="rtl"] .invoice-wrapper {
  direction: ltr;
}

.invoice-top {
  display: flex;
  justify-content: space-around;
}

.invoice-date {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.invoice-from span,
.invoice-to span,
.invoice-date span {
  font-size: 1.6rem;
  font-weight: 300;
}

.invoice-from h4,
.invoice-to h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
}

.invoice-from p,
.invoice-to p {
  font-size: 1.4rem;
  font-weight: 300;
}

.invoice-body__wrapper {
  margin: 2rem 0;
}

.invoice-body__top {
  background-color: var(--card-bg3);
}

.invoice-body__total-price,
.invoice-body__submit-print {
  display: flex;
  justify-content: end;
  align-items: center;
}

.invoice-body__btn-submit {
  background-color: #4880ff;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0.7rem 2rem;
  border-radius: 1rem;
  color: #ffffff;
  gap: 2rem;
  font-size: 1.6rem;
}

.btn-submit__icon {
  background-color: #6e99ff9b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
}

.invoice-body__total-price {
  margin-bottom: 2rem;
  gap: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.invoice-body__submit-print {
  gap: 2rem;
}

.btn-print__icon {
  background-color: #fafbfd;
  display: flex;
  padding: 1.5rem;
  border-radius: 1rem;
  border: 0.1rem solid #d5d5d5;
}

/* ? table */

.invoice-body__wrapper.table {
  border-radius: 1rem;
  display: table;
  font-weight: 600;
  text-align: center;
  width: 100%;
}

.invoice-body__top.thead {
  display: table-header-group;
}

.invoice-body__body.tbody {
  display: table-row-group;
}

.invoice-body__body.tbody .tr,
.invoice-body__top.thead .tr {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.invoice-body__body.tbody .tr {
  position: relative;
}

.product-stock__body.tbody .tr::after {
  content: "";
  display: block;
  height: 0.1rem;
  left: 0;
  right: 0;
  position: absolute;
  background-color: #d5d5d5;
}

.invoice-body__body.tbody .tr .td,
.invoice-body__top.thead .tr .th {
  vertical-align: middle;
  display: table-cell;
  padding: 2rem;
}

.invoice-body__top.thead .tr .th {
  font-size: 1.6rem;
  font-weight: 400;
}

.invoice-body__body.tbody .tr .td {
  padding: 3rem 0;
  font-weight: 300;
  font-size: 1.6rem;
}

/* ? table end */

/* 

TODO -o-o-o-o-o-o-o-o-o-o-o-o-o-o-

          * Responsive

TODO -o-o-o-o-o-o-o-o-o-o-o-o-o-o-

*/

@media (max-width: 768px) {
  .invoice-body__body.tbody .tr,
  .invoice-body__top.thead .tr {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .invoice-body__body.tbody .tr > :nth-child(1),
  .invoice-body__top.thead .tr > :nth-child(1) {
    display: none;
  }
  .invoice-top {
    flex-wrap: wrap;
    gap: 2rem;
  }
  .invoice-top div span,
  .invoice-top div h4,
  .invoice-top div p {
    font-size: 1.2rem;
  }
  .invoice-body__top .tr .th {
    font-size: 1.4rem !important;
  }
  .invoice-body__body .tr .td {
    font-size: 1.2rem !important;
  }
  .invoice-wrapper {
    padding: 2rem 4rem;
  }
}

@media (max-width: 425px) {
  .invoice-wrapper {
    padding: 3rem 1rem;
  }
}

@media (max-width: 375px) {
  .invoice-body__body.tbody .tr,
  .invoice-body__top.thead .tr {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .invoice-body__body.tbody .tr > :nth-child(2),
  .invoice-body__top.thead .tr > :nth-child(2) {
    display: none;
  }
}
