/* 

! -=-=-=-=-=-=-=-=-=-=-=-=-

  ?    Special Style

! -=-=-=-=-=-=-=-=-=-=-=-=-

*/

.is-user,
.is-admin {
  width: 10px;
  color: var(--text);
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: 400;
}

.is-admin {
  background-color: rgba(103, 255, 103, 0.627);
}

.is-user {
  background-color: rgba(255, 244, 25, 0.627);
}

/* 

! -=-=-=-=-=-=-=-=-=-=-=-=-

  ?        Styles

! -=-=-=-=-=-=-=-=-=-=-=-=-

*/

.user-list__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-list__header a span {
  font-size: 16px;
  color: var(--card-bg);
  background-color: #4379ee;
  padding: 10px;
  border-radius: 10px;
  font-weight: 200;
}

.users-wrapper {
  margin: 2rem 3rem;
  font-weight: 300;
  direction: ltr;
}

.users-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border2);
  background-color: var(--card-bg);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 1rem 2rem;
}

.users-top__search-input {
  display: flex;
  align-items: center;
  flex: 1;
}

.users-top__search-input div {
  background-color: var(--input-bg);
  display: flex;
  align-items: center;
  border: 1px solid var(--input-border);
  padding: 5px 3px 5px 8px;
  width: 100%;
  max-width: 250px;
  flex-shrink: 1;
  border-radius: 25px;
}

.users-top__search-input input {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 300;
  width: 100%;
}

.users-top__filter-wrapper {
  display: flex;
  align-items: center;
}

.users-top__filter-wrapper span {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid var(--border);
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.users-top__filter-wrapper span:hover {
  border: 1px solid black;
}

.users-top__filter-wrapper ul {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  background-color: var(--card-bg);
  padding: 5px 0;
  left: -55px;
  right: 0;
  top: 27px;
  box-shadow: 0 0 3px 0 var(--shadow1);
  border-radius: 5px;
}

.users-top__filter-wrapper ul li {
  padding: 10px 15px;
  font-size: 14px;
  text-wrap: nowrap;
  transition: all 0.1s ease-in;
}

.users-top__filter-wrapper ul li:hover {
  opacity: 50%;
  background-color: var(--card-bg-hover);
}

.users-top__filter-wrapper span:hover > ul {
  visibility: visible;
  opacity: 1;
}

.users-body {
  background-color: var(--card-bg);
  padding: 10px 20px;
}

.users-body .thead {
  margin: 1rem 0;
}

.user-item {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.user-item:not(:last-child) {
  border-bottom: 1px dotted var(--border3);
}

.user-item__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-item__actuibs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-item__icon-info,
.user-item__icon-edit,
.user-item__icon-delete {
  padding: 3px;
  margin: 0 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.user-item__icon-info:hover,
.user-item__icon-edit:hover,
.user-item__icon-delete:hover {
  opacity: 50%;
}

.user-item__icon-info {
  background-color: rgb(0, 191, 255);
}

.user-item__icon-edit {
  background-color: rgb(255, 136, 18);
}

.user-item__icon-delete {
  background-color: rgb(255, 0, 0);
}

.user-item__icon-info svg,
.user-item__icon-edit svg,
.user-item__icon-delete svg {
  width: 20px;
  height: 20px;
}

/* 

! -=-=-=-=-=-=-=-=-=-=-=-=-

  ?       Table

! -=-=-=-=-=-=-=-=-=-=-=-=-

*/

.tr {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  width: 100%;
  text-align: center;
}

.th {
  font-weight: 400;
  font-size: 18px;
}

.td {
  font-size: 14px;
}
