.product-stock__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-stock__top-input {
  display: flex;
  align-items: center;
  background-color: var(--card-bg);
  padding: 1rem 2rem;
  gap: 1rem;
  border: 0.1rem solid var(--input-border);
  border-radius: 2rem;
}

.product-stock__top-input input {
  border: none;
  outline: none;
  font-size: 1.4rem;
  width: 25rem;
  background-color: transparent;
  color: var(--text);
  font-family: AzarMehr;
}

/* ? */

.product-stock__wrapper {
  margin-top: 2rem;
  background-color: var(--card-bg);
  width: 100%;
}

.product-stock__top {
  border-radius: 0.5rem;
}

.product-stock__box {
  display: flex;
  align-items: center;
}

.product-stock__img {
  display: flex;
  justify-content: center;
}

.product-stock__img img {
  width: 5rem;
  max-width: 5rem;
  height: auto;
}

/* ? */

.product-colors {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.product-color.black,
.product-color.gray,
.product-color.red {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
}

.product-color.black {
  background-color: #000000;
}

.product-color.gray {
  background-color: #9f9f9f;
}

.product-color.red {
  background-color: #a32147;
}

.product__edit-delet,
.product__edit-delet span {
  display: flex;
  justify-content: center;
}

.product__edit-delet span {
  background-color: var(--card-bg2);
  border-radius: 0.5rem;
  border: 0.1rem solid var(--border2);
}

.product__edit-delet span svg {
  padding: 1rem 1.5rem;
  transition: all 0.15s ease-in;
  cursor: pointer;
}

.product__edit-delet span svg:not(:last-child) {
  border-right: 0.1rem solid #d5d5d5;
}

.product__edit-delet span svg:hover {
  background-color: #d5d5d5;
}

/* ? table */

.product-stock__wrapper.table {
  border-radius: 1rem;
  display: table;
  font-weight: 600;
  text-align: center;
  width: 100%;
}

.product-stock__top.thead {
  display: table-header-group;
}

.product-stock__body.tbody {
  display: table-row-group;
}

.product-stock__body.tbody .tr,
.product-stock__top.thead .tr {
  display: table-row;
}

.product-stock__body.tbody .tr {
  position: relative;
}

.product-stock__body.tbody .tr::after {
  content: "";
  display: block;
  height: 0.1rem;
  left: 0;
  right: 0;
  position: absolute;
  background-color: #d5d5d5;
}

.product-stock__body.tbody .tr .td,
.product-stock__top.thead .tr .th {
  vertical-align: middle;
  display: table-cell;
  padding: 2rem;
}

.product-stock__top.thead .tr .th {
  font-size: 1.6rem;
  font-weight: 400;
}

.product-stock__body.tbody .tr .td {
  padding: 1rem;
  font-weight: 300;
  font-size: 1.6rem;
}

/* ? table end */
