.error-wrapper {
  width: 80%;
  margin: 2rem auto;
  background-color: rgb(255, 89, 23);
  padding: 1rem 0;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.error-wrapper svg {
  color: white;
  width: 2.5rem;
  height: 2.5rem;
}

.error-wrapper span {
  color: white;
}