.manage-account__header {
  font-weight: 400;
  font-size: 2rem;
  margin-top: 2rem;
}

.manage-account__wrapper {
  background-color: var(--card-bg);
  padding: 5rem 1rem;
  margin: 3rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manage-account__profile-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.manage-account__profile-img div img {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  object-fit: cover;
}

.manage-account__profile-img span {
  color: blue;
  display: flex;
  text-decoration: underline;
  cursor: pointer;
}

.manage-account__profile-img span input {
  display: none;
}

.manage-account__form-wrapper {
  margin: 3rem 0;
  width: 100%;
}

.manage-account__form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 5rem;
}

.manage-account__form div {
  display: flex;
  flex-direction: column;
}

.manage-account__form div input {
  outline: none;
  border: 0.1rem solid var(--input-border);
  background-color: var(--input-bg);
  margin-top: 1rem;
  width: 100%;
  max-width: 20rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: 300;
}

.manage-account__form div label {
  font-size: 1.4rem;
  font-weight: 200;
}

.manage-account__save-btn {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.manage-account__save-btn button {
  background-color: var(--primary);
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
  width: 100%;
  max-width: 25rem;
  padding: 1rem;
  border-radius: 1rem;
  transition: all 0.15s ease-in-out;
}

[dir="rtl"] .manage-account__form div input,
[dir="rtl"] .manage-account__save-btn button {
  font-family: AzarMehr;
  font-weight: 600;
}

.manage-account__save-btn button:hover {
  opacity: 80%;
}

/* 

TODO -o-o-o-o-o-o-o-o-o-o-o-o-o-o-

          * Responsive

TODO -o-o-o-o-o-o-o-o-o-o-o-o-o-o-

*/

@media (max-width: 76.8rem) {
  .manage-account__form {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 42.5rem) {
  .manage-account__form {
    grid-template-columns: repeat(1, 1fr);
  }
  .manage-account__form div input {
    max-width: 14rem;
  }
}
