.todo-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--card-bg7);
  padding: 2rem 3rem;
  border-radius: 1rem;
  border: 0.1rem solid var(--border3);
  transition: all 0.15s ease-in;
}

.todo-box.do {
  background-color: var(--primary);
}

.todo-title__wrapper,
.todo-btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.check-box {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.check-box input {
  display: none;
}

.check-mark {
  width: 2rem;
  height: 2rem;

  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.2s;
}

.check-mark svg {
  display: none;
}

.check-box input:checked + .check-mark svg {
  color: white;
  font-size: 1.4rem;
  display: block;
}

.todo-title.do {
  color: white;
}

.todo-icon__trash {
  background-color: #5a8bff;
  border: 0.1rem solid #c8c8c8;
  padding: 0.7rem 2rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.15s ease;
}

.todo-icon__trash:hover {
  background-color: #ff5c5c;
}

.todo-icon__trash svg {
  color: white;
}

.todo-icon__star,
.todo-icon__close {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.todo-icon__star-hollow:hover {
  color: rgb(255, 204, 0);
}

.todo-icon__close {
  background-color: var(--card-bg3);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.1rem solid var(--border);
  transition: all 0.15s ease-in-out;
}

.todo-icon__close:hover {
  background-color: rgb(255, 44, 44);
}

.todo-icon__star-solid,
.todo-icon__star-hollow {
  transition: all 0.15s ease-in-out;
  width: 2.5rem;
  height: 2.5rem;
}

.todo-icon__star-solid {
  color: rgb(255, 204, 0);
}

.todo-icon__close svg {
  width: 2rem;
  height: 2rem;
}
