.uielements-wrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.uielements__bar-chart,
.uielements__pie-chart,
.uielements__donut-chart {
  background-color: var(--card-bg);
  padding: 2rem;
}

.bar-chart__items,
.pie-chart__items,
.donut-chart__items {
  display: flex;
  justify-content: space-around;
  padding: 8rem 5rem 2rem 5rem;
  flex-wrap: wrap;
  gap: 3rem;
}

.donut-chart__items img,
.pie-chart__items img,
.bar-chart__items img {
  width: 100%;
  max-width: 20rem;
  height: auto;
}

/* 

TODO -o-o-o-o-o-o-o-o-o-o-o-o-o-o-

          * Responsive

TODO -o-o-o-o-o-o-o-o-o-o-o-o-o-o-

*/

@media (max-width: 425px) {
  .bar-chart__items,
  .pie-chart__items,
  .donut-chart__items {
    padding: 6rem 3rem 2rem 3rem;
  }
}