.uielements-wrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.uielements__bar-chart,
.uielements__pie-chart,
.uielements__donut-chart {
  background-color: var(--card-bg);
  padding: 2rem;
}

.bar-chart__items,
.pie-chart__items,
.donut-chart__items {
  display: flex;
  justify-content: space-around;
  padding: 8rem 5rem 2rem 5rem;
}