.navbarWrapper {
  background-color: var(--card-bg);
  height: 6rem;
  direction: ltr;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 2rem;
}

/* .navbar {

} */

.navbarRight {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1.5rem;
}

/* Mobile SideBar */

.navbarProfileMobile {
  display: none;
  position: relative;
}

[dir="ltr"] .navbarProfileMobile {
  margin-left: 1rem;
}

.navbarProfileImg img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 0.3rem;
}

[dir="ltr"] .navbarMobileSubmenu {
  transform: translateX(100%);
}

.navbarMobileSubmenu {
  background-color: var(--card-bg);
  position: absolute;
  top: -1.4rem;
  left: -2rem;
  bottom: 0;
  max-width: 18rem;
  height: 100vh;
  z-index: 99999999;
  width: 20rem;
  padding: 1rem 1.5rem;
  transform: translateX(-100%);
  visibility: hidden;
  transition:
    transform 0.3s ease,
    visibility 0.3s ease;
}

[dir="ltr"] .navbarMobileSubmenu.show {
  transform: translateX(-65%);
}

.navbarMobileSubmenu.show {
  transform: translateX(0);
  visibility: visible;
}

.navbarMobileSubmenuCloseIcon {
  float: left;
}

.navbarLanguageMobileWrapper {
  overflow: hidden;
}

.navbarSubmenuProfileMobile,
.navbarLanguageMobile,
.notificationIconMobile {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  align-items: center;
}

.navbarSubmenuProfileMobile {
  gap: 0.5rem;
  justify-content: space-between;
}

.navbarSubmenuProfileMobile img {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 0.3rem;
}

.submenuProfileMobileNameLast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.profileSubmenuMobile {
  overflow: hidden;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition:
    height 150ms ease-in-out,
    opacity 100ms ease-in,
    visibility 100ms ease-in;
}

.profileSubmenuMobile.show {
  height: 12rem;
  visibility: visible;
  opacity: 1;
}

.profileSubmenuMobile li {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: 0.5rem;
}

.profileSubmenuMobile li a {
  color: var(--text);
}

.profileSubmenuMobile li:not(:first-child) {
  margin: 2rem 0;
}

.navbar-submenu__icon-manage,
.navbar-submenu__icon-log,
.navbar-submenu__icon-moon,
.navbar-submenu__icon-sun {
  margin-right: 0.5rem;
}

.navbarLanguageMobile {
  justify-content: space-between;
  position: relative;
}

.navbarLanguageMobile svg {
  color: var(--text);
}

.notificationIconMobile {
  justify-content: space-between;
  font-size: 1.4rem;
}

.notificationIconMobile div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.notificationIconMobile div:last-child svg {
  width: 1rem;
  height: 1rem;
}

.notificationIconMobile span {
  background-color: #f93c65;
  color: white;
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
}

.notificationBoxMobile {
  font-size: 80%;
  overflow: hidden;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition:
    height 150ms ease-in-out,
    opacity 100ms ease-in,
    visibility 100ms ease-in;
}

.notificationBoxMobile.show {
  height: 35rem;
  opacity: 1;
  visibility: visible;
}

.notificationBoxListsMobile {
}

.notificationBoxItemMobile {
  padding: 0.8rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.notificationBoxItemMobile:not(:first-child) {
  border-top: 0.1rem solid rgba(0, 0, 0, 0.477);
}

.notificationBoxItemMobile span {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 229, 145, 1) 0.3%,
    rgba(255, 106, 60, 1) 100.2%
  );
  padding: 0.4rem 0.8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 30%;
}

.notificationBoxItemMobile span svg {
  width: 0.4rem;
  height: 100%;
  color: white;
}

.notificationBoxItemMobile div h4 {
  font-size: 1.4rem;
  color: var(--text);
  margin-bottom: 0.5rem;
}

.notificationBoxItemMobile div p {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--text-9);
  line-height: 1.3;
}

.notificationBoxTextMobile {
  text-align: center;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.477);
  padding: 1rem 0;
  font-size: 1.4rem;
}

.languageItemsMobile {
  margin: 0.5rem 0.5rem 0 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition:
    height 150ms ease-in-out,
    opacity 100ms ease-in,
    visibility 100ms ease-in;
}

.languageItemsMobile.show {
  height: 16rem;
  opacity: 1;
  visibility: visible;
}

.languageItemsMobile li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
}

.languageItemsMobile li.selected {
  background-color: #487fff;
  color: white;
}

.languageItemsMobile li svg {
  width: 1.2rem;
  height: 1.2rem;
}

.languageItemsMobile li div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.languageItemsMobile li div img {
  width: auto;
  height: 3rem;
}

.languageItemsMobile li img:nth-child(1) {
  border-radius: 0.5rem;
}

.navbarLanguageIconName {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.4rem;
}

.navbarLanguageIconName img {
  width: auto;
  height: 3rem;
}

.langMobileIconChevron {
  transition: all 200ms ease-in-out;
}

.langMobileIconChevron.show {
  transform: rotate(180deg);
}

/* End Mobile SideBar */

.navbarRightProfile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbarRightProfile img {
  width: 3rem;
  height: 100%;
  border-radius: 5px;
}

.navbarRightProfile span {
  margin-left: 1rem;
  border: 0.1rem solid #5c5c5c;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

[dir="rtl"] .profileTexts {
  direction: rtl;
}

.profileTexts h5 {
  font-size: 1.4rem;
}

.profileTexts h6 {
  font-size: 1.2rem;
}

.profileRightIcon {
  position: relative;
  cursor: pointer;
}

.navbar-submenu__icon-manage {
  color: rgb(129, 3, 255);
}

.navbar-submenu__icon-log {
  color: rgb(255, 108, 3);
}

.navbar-submenu__icon-moon {
  color: rgb(3, 121, 255);
}

.navbar-submenu__icon-sun {
  color: rgb(255, 157, 0);
}

.navbar-submenu__icon-logout {
  color: rgb(255, 60, 60);
  width: 2.1rem;
  height: 100%;
  height: 100%;
}

.profileRightSubmenu {
  position: absolute;
  background-color: var(--card-bg);
  top: 1.7rem;
  right: 0rem;
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  font-weight: 300;
  border-radius: 1.5rem;
  box-shadow: 0rem 0rem 0.5rem 0rem rgba(0, 0, 0, 0.079);
  transition: 0.1s ease-in all;
  transition: all ease-in-out 0.2s;
  z-index: 999999;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-12rem);
  padding: 0.5rem 1.5rem;
}

.profileRightSubmenu.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.profileRightSubmenu li a {
  color: var(--text);
}

.profileRightSubmenu li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15rem;
  padding: 1.5rem 0;
  transition: all ease-in-out 0.2s;
}

.profileRightSubmenu li:hover {
  opacity: 65%;
}

.profileRightSubmenu li:not(:last-child) {
  border-bottom: 0.1rem solid var(--border4);
}

.profileRightSubmenu li p {
  font-size: 1.4rem;
}

.profileRightSubmenu li a {
  font-size: 1.4rem;
}

/* .profileRightSubmenu span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1.5rem 2.5rem;
  color: var(--text);
  transition: 0.15s ease-in all;
} */

/* .profileRightSubmenu a:nth-child(n + 1):nth-child(-n + 3) {
  border-bottom: 0.1rem solid var(--border);
}

.profileRightSubmenu a:hover {
  background-color: var(--bg);
}

.profileRightSubmenu a svg path {
  stroke: var(--text);
}

.profileRightSubmenu a li {
  text-wrap: nowrap;
  font-size: 1.6rem;
  font-weight: 300;
} */

.profileRightSwitchTheme {
  display: flex;
  align-items: center;
}

.navbarRightLanguage {
  display: flex;
  gap: 1rem;
}

.navbarRightLanguage img {
  width: 5.5rem;
  height: 3.5rem;
  border-radius: 0.3rem;
}

.languageSelected {
  display: flex;
  align-items: center;
  position: relative;
  gap: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  transition: 0.15s all ease-out;
  user-select: none;
  z-index: 999999;
  font-size: 1.4rem;
}

.languageSelected:hover {
  background-color: var(--bg);
}

.languageItems {
  position: absolute;
  background-color: var(--card-bg);
  top: 1.7rem;
  right: -2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.7rem;
  font-weight: 300;
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 0.5rem 0rem rgba(0, 0, 0, 0.079);
  transition: 0.1s ease-in all;
  transform: translateY(-10rem);
  opacity: 0;
  visibility: hidden;
}

[dir="rtl"] .languageItems {
  direction: rtl;
}

.languageItemsTitle {
  border-bottom: 0.1rem solid var(--border);
  text-wrap: nowrap;
  font-size: 1.5rem;
  padding: 1.5rem;
  font-weight: 200;
}

.languageItems div {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 23rem;
  font-size: 1.4rem;
}

.languageItems div span {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.languageItems.show {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.languageItems li {
  transition: 0.15s ease all;
  cursor: pointer;
}

.languageItems li:hover {
  background-color: var(--bg);
}

.navbarLeft {
  margin-left: 2rem;
  width: 100%;
}

.navbarRightNotifactionWrapper {
  position: relative;
}

.notificationIcon {
  position: relative;
  margin-right: 1rem;
  cursor: pointer;
}

.notificationIcon svg {
  margin-top: 0.8rem;
}

.notificationIcon span {
  background-color: #f93c65;
  color: white;
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.4rem;
  position: absolute;
  top: -0.4rem;
  right: -0.7rem;
  border: 0.1rem solid #979797;
}

.notificationBox {
  position: absolute;
  background-color: var(--card-bg);
  margin: 0 auto;
  right: -5rem;
  width: 25rem;
  max-width: 25rem;
  box-shadow: 0 0 0.2rem 0.2rem rgba(0, 0, 0, 0.051);
  border-radius: 1rem;
  transition: all 0.15s ease-in-out;

  opacity: 0;
  visibility: hidden;
}

[dir="rtl"] .notificationBox {
  direction: rtl;
}

.notificationBox.show {
  opacity: 1;
  visibility: visible;
}

.notificationBoxTitle {
  border-bottom: 0.1rem solid var(--border);
  font-size: 1.5rem;
  font-weight: 300;
}

.notificationBoxText,
.notificationBoxTitle {
  padding: 1rem 0;
  padding: 1rem 1.5rem;
}

.notificationBoxLists {
  display: flex;
  flex-direction: column;
}

.notificationBoxItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem 1rem;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.notificationBoxItem:hover {
  background-color: var(--card-bg-hover);
}

.notificationBoxItem span {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 229, 145, 1) 0.3%,
    rgba(255, 106, 60, 1) 100.2%
  );
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notificationBoxItem span svg {
  width: 2.5rem;
  height: 1.8rem;
  color: white;
}

.notificationBoxItem div h4 {
  font-size: 1.4rem;
  color: var(--text);
  margin-bottom: 0.5rem;
}

.notificationBoxItem div p {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--text-9);
}

.notificationBoxText {
  border-top: 0.1rem solid var(--border);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--text-9);
}

.navbarLeftSearchInput {
  background-color: var(--input-bg);
  border: 0.1rem solid var(--input-border);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 1.9rem;
  width: 100%;
  max-width: 30rem;
  min-width: 5rem;
}

.navbarLeftSearchInput input {
  background-color: var(--input-bg);
  outline: none;
  border: none;
  font-size: 1.4rem;
  font-weight: 200;
  font-family: AzarMehr;
  width: 100%;
  max-width: 30rem;
  min-width: 5rem;
}

.iconSideBar {
  display: none;
  width: 3.5rem;
  height: 3.5rem;
}

/* 

TODO -o-o-o-o-o-o-o-o-o-o-o-o-o-o-

          * Responsive

TODO -o-o-o-o-o-o-o-o-o-o-o-o-o-o-

*/

@media (max-width: 102.4rem) {
  .navbarWrapper {
    padding: 0 2rem;
  }
  .navbarLeft {
    margin-left: 1rem;
  }
  .navbarRight {
    gap: 0.5rem;
  }
}

@media (max-width: 76.8rem) {
  .iconSideBar {
    display: block;
  }
  .navbarProfileMobile {
    display: block;
  }
  .navbarRight {
    display: none;
  }
  [dir="rtl"] .navbarWrapper {
    direction: rtl;
  }
  .navbarLeftSearchInput {
    padding: 0.2rem 1rem;
  }
  .background {
    background-color: rgb(0, 0, 0);
    z-index: 9999999;
    position: fixed;
    inset: 0;
    opacity: 0.4;
    /* opacity: 0;
  display: none;
  transition: all 0.13s ease-in; */
  }
}
