.sidebarWrapper {
  background-color: var(--card-bg);
  width: 20rem;
  overflow-y: auto;
  height: 100%;
  transition: all 0.15s ease-in;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 4rem;
}

.sidebarTop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dasboard-admin__title {
  margin: 2rem auto 0 auto;
  font-weight: 500;
  font-size: 2rem;
  font-family: nunito;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dasboard-admin__title span {
  color: var(--primary);
}

.dasboard-admin__title-icon {
  display: none;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.sideBarItemsWrapper {
  overflow-y: auto;
  height: 65rem;
}

.sidebarTop img {
  width: 60%;
  height: auto;
  margin-top: 1rem;
}

.sidebarItems {
  width: 100%;
  display: block;
}

.sidebarItems a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebarItems a li {
  padding: 1rem 3rem;
  color: var(--text);
  font-size: 1.4rem;
  font-weight: 300;
  transition: 0.15s ease-in all;
  border-radius: 0.5rem;
  width: 50%;
  text-wrap: nowrap;
}

.sidebarItems a li:hover {
  background-color: var(--primary);
  color: var(--text-white);
}

.sidebarItems a.selected {
  border-left: 0.4rem solid var(--primary);
}

[dir="rtl"] .sidebarItems a.selected {
  border-right: 0.4rem solid var(--primary);
  border-left: none;
}

.sidebarItems a.selected li {
  background-color: var(--primary);
  color: white;
}

.sidebarBody {
  border-top: 0.1rem solid var(--border2);
  border-bottom: 0.1rem solid var(--border2);
  padding: 2rem 0;
}

.sidebarBody h3 {
  padding: 0 0 1.5rem 2rem;
  color: var(--text);
  font-size: 1.4rem;
}

[dir="rtl"] .sidebarBody h3 {
  margin-right: 1rem;
}

/* 

TODO -o-o-o-o-o-o-o-o-o-o-o-o-o-o-

          * Responsive

TODO -o-o-o-o-o-o-o-o-o-o-o-o-o-o-

*/

@media (max-width: 76.8rem) {
  .dasboard-admin__title {
    font-size: 1.7rem;
    margin: 1rem auto 0 auto;
  }
  .dasboard-admin__title-icon {
    display: block;
  }
}
