.statistics-total__wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  gap: clamp(0.5rem, 2vw, 2rem);
  flex-wrap: wrap;
}

.statistics-total__box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--card-bg);
  padding: 2rem;
  border-radius: 1rem;
  flex: 1;
}

.statistics-box__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.statistics-box__texts {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.statistics-box__texts h5 {
  font-size: 1.6rem;
  color: var(--text);
  font-weight: 300;
}

.statistics-box__texts h2 {
  font-size: 2.8rem;
  color: var(--text);
}

.statistics-box__bottom {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.statistics-box__bottom svg {
  margin-right: 0.7rem;
}

.bad {
  color: red !important;
}

.statistics-box__percent {
  color: #00b69b;
}

.statistics-box__text-time {
  color: var(--text-4);
}

.statistics-box__percent,
.statistics-box__text-time {
  font-size: 1.6rem;
  font-weight: 300;
}

.sales-chart__wrapper {
  background-color: var(--card-bg);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0;
}

.sales-chart__wrapper img {
  width: 100%;
}

.sales-chart__top {
  font-size: 2.4rem;
  font-weight: 400;
  margin: 1rem 0;
}

.deals-details__wrapper {
  background: var(--card-bg);
  padding: 2rem;
  border-radius: 1rem;
  position: relative;
}

.deals-details__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deals-details__top h2 {
  font-size: 2.4rem;
  font-weight: 400;
}

.deals-details__top-icon {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  border: 0.1rem solid var(--input-border);
  padding: 1rem 3rem;
  border-radius: 0.5rem;
}

.deals-details__top-icon span {
  color: var(--text-5);
  font-size: 1.6rem;
}

.deals-details__top-icon svg path {
  stroke: var(--text-5);
}

/* =========================================
   DEALS DETAILS TABLE
========================================= */

.deals-details__table-wrapper {
  width: 100%;
  height: auto;
  /* overflow: hidden; */
  border-radius: 1rem;
  background-color: var(--card-bg);
  position: relative;
}

/* =========================================
   TABLE HEADER
========================================= */

.deals-details__table {
  width: 100%;

  background-color: var(--card-bg2);

  border-radius: 1rem 1rem 0 0;
  margin-top: 2rem;
}

.deals-details__table .tr {
  display: grid;

  grid-template-columns:
    1.8fr
    2fr
    1.8fr
    0.8fr
    1.2fr
    1.2fr;

  align-items: center;

  width: 100%;
}

.deals-details__table .th {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 0;

  padding: 1.8rem 1.5rem;

  color: var(--text);

  font-size: 1.4rem;
  font-weight: 500;

  text-align: center;
}

/* =========================================
   TABLE BODY
========================================= */

.deals-details__items {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  height: 500px;
}

.deals-details__item-box {
  display: grid;

  grid-template-columns:
    1.8fr
    2fr
    1.8fr
    0.8fr
    1.2fr
    1.2fr;

  align-items: center;
  width: 100%;
}

.deals-details__item-box:not(:last-child) {
  border-bottom: 0.1rem solid var(--input-border);
}

.deals-details__item-box .td {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 0;
  min-height: 8rem;

  padding: 1.5rem;

  color: var(--text);

  font-size: 1.4rem;
  font-weight: 300;

  text-align: center;
}

/* =========================================
   PRODUCT IMAGE + NAME
========================================= */

.deals-details__box-img {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;

  width: 100%;
}

.deals-details__box-img img {
  display: block;

  width: 4rem;
  height: 4rem;

  object-fit: contain;

  flex-shrink: 0;
}

.deals-details__box-img span {
  color: var(--text);
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 10rem;
  font-size: 1.4rem;
  font-weight: 300;
  margin-top: 0;
  white-space: nowrap;
}

/* =========================================
   STATUS BUTTON
========================================= */

.deals-details__box-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0.5rem 1.5rem;

  border-radius: 1.5rem;

  background-color: #00b69b;

  color: #ffffff !important;

  font-size: 1.4rem;
  font-weight: 400 !important;

  white-space: nowrap;

  cursor: pointer;

  transition: background-color 0.15s ease-in;
}

.deals-details__box-btn:hover {
  background-color: #00d8b8;
}

/* 

TODO -o-o-o-o-o-o-o-o-o-o-o-o-o-o-

          * Responsive

TODO -o-o-o-o-o-o-o-o-o-o-o-o-o-o-

*/

@media (max-width: 102.4rem) {
  .deals-details__table .tr {
    grid-template-columns: 1.8fr 1.8fr 0.8fr 1.2fr 1.2fr;
  }
  .deals-details__item-box {
    grid-template-columns: 1.8fr 1.8fr 0.8fr 1.2fr 1.2fr;
  }
  .deals-details__table .tr .th:nth-child(2) {
    display: none;
  }
  .deals-details__item-box .td:nth-child(2) {
    display: none;
  }
  .sales-chart__top {
    font-size: 1.7rem;
  }
}

@media (max-width: 76.8rem) {
  .deals-details__table .tr {
    grid-template-columns: 1.8fr 0.8fr 1.2fr 1.2fr;
  }
  .deals-details__item-box {
    grid-template-columns: 1.8fr 0.8fr 1.2fr 1.2fr;
  }
  .deals-details__table .tr .th:nth-child(3) {
    display: none;
  }
  .deals-details__item-box .td:nth-child(3) {
    display: none;
  }
  .sales-chart__wrapper {
    padding: 2rem 2rem 2rem 0;
  }
}

@media (max-width: 57.4rem) {
  .deals-details__table .tr {
    grid-template-columns: 1.8fr 1.2fr 1.2fr;
  }
  .deals-details__item-box {
    grid-template-columns: 1.8fr 1.2fr 1.2fr;
  }
  .deals-details__table .tr .th:nth-child(4) {
    display: none;
  }
  .deals-details__item-box .td:nth-child(4) {
    display: none;
  }
  .deals-details__box-btn {
    padding: 0.5rem 1.2rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 37.5rem) {
  .deals-details__table .tr {
    grid-template-columns: 1fr 1.2fr 1.2fr;
  }
  .deals-details__item-box {
    grid-template-columns: 1fr 1.2fr 1.2fr;
  }
  .deals-details__box-img span {
    display: none;
  }
}
