.container {
  margin: 0 auto;
  max-width: 160rem;
  padding: 0 2rem;
  width: 90%;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.3s ease, color 0.3s ease;
}
