.signup-form__pass-rule {
  font-size: 13px;
  display: flex;
  align-items: start;
}

.signup-form__pass-rule svg {
  margin-top: 2px;
}

.rule-valid {
  color: rgb(0, 192, 0);
}

.rule-notValid {
  color: red;
}
