.calender-wrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.calender-left {
  background-color: var(--card-bg);
  padding: 2rem;
  border: 0.1rem solid #b9b9b9;
  border-radius: 1rem;
  overflow-y: auto;
  margin: auto 0;
}

.calender-left__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.calender-left__btn span {
  background-color: #4880ff;
  color: #ffffff;
  font-weight: 300;
  padding: 1.5rem;
  width: 100%;
  text-align: center;
  border-radius: 1rem;
  font-size: 1.6rem;
  transition: all 0.15s ease-out;
  text-wrap: nowrap;
}

.calender-left__btn span:hover {
  background-color: #2b6aff;
}

.calender__event-wrapper h3 {
  margin-bottom: 2rem;
  font-size: 1.6rem;
}

.calender-events {
  overflow-y: auto;
  height: 70rem;
}

.calender-event {
  display: flex;
  gap: 1rem;
  border-top: 0.1rem solid #e0e0e0;
  padding: 1rem 0;
}

.event-message__side-right {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin-top: 1rem;
}

.event-title {
  font-size: 2rem;
  font-weight: 400;
  color: var(--text);
  margin-bottom: 1rem;
}

.event-time,
.event-address,
.event-location {
  font-size: 1.2rem;
  color: var(--text-7);
  font-weight: 300;
}

.event-participants {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.event__participants-more {
  color: #4880ff;
  border: 0.1rem solid #4880ff;
  font-size: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.5rem;
  padding: 1rem;
  height: 0.5rem;
}

.calender-event__btn {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.6rem;
}

.calender-event__btn a {
  color: var(--text);
  background-color: #bdd4fc51;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
}

.calender-right {
  background-color: var(--card-bg);
  padding: 3rem 2rem;
  border: 0.1rem solid #b9b9b9;
  border-radius: 1rem;
  width: 60%;
  margin: auto 0;
}

.calender-right__top-middle {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 2.4rem;
  font-weight: 400;
}

.calender-right__top-middle svg {
  color: var(--text);
}

[dir="rtl"] .calender-right__top-middle {
  flex-direction: row-reverse;
}

.calender-right__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Calender */

.calender-right__top-body :global(.fc-toolbar-chunk div) {
  display: flex;
  align-items: center;
  /* gap: 1rem; */
}

.calender-right__top-body :global(.fc .fc-button-primary) {
  color: var(--text);
}

.calender-right__top-body :global(.fc-button.fc-prev-button) {
  margin-right: 0.5rem;
}

.calender-right__top-body :global(.fc-button.fc-next-button) {
  margin-left: 0.5rem;
}

.calender-right__top-body :global(.fc-button.fc-prev-button),
.calender-right__top-body :global(.fc-button.fc-next-button) {
  background-color: transparent;
  border: none;
  transition: all 0.15s ease-in;
}

.calender-right__top-body :global(.fc-button.fc-prev-button):hover,
.calender-right__top-body :global(.fc-button.fc-next-button):hover {
  background-color: var(--card-bg2);
}

.calender-right__top-body
  :global(.fc .fc-button-primary:not(:disabled).fc-button-active),
.calender-right__top-body
  :global(.fc .fc-button-primary:not(:disabled)):active {
  background-color: var(--primary);
  border: none;
  box-shadow: 0;
}

.calender-right__top-body
  :global(.fc .fc-button-primary:not(:disabled).fc-button-active:focus),
.calender-right__top-body
  :global(.fc .fc-button-primary:not(:disabled):active:focus) {
  box-shadow: none !important;
}

.calender-right__top-body :global(.fc-today-button.fc-button) {
  background-color: transparent;
  border: none;
}

.calender-right__top-body :global(.fc-button-group) {
  background-color: var(--card-bg5);
  display: flex;
  border: 0.1rem solid var(--border);
  align-items: center;
  border-radius: 1rem;
}

.calender-right__top-body :global(.fc-timeGridDay-button),
.calender-right__top-body :global(.fc-timeGridWeek-button),
.calender-right__top-body :global(.fc-dayGridMonth-button) {
  font-size: 1.4rem;
  cursor: pointer;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  border: none;
  background-color: transparent;
  color: var(--text);
}

.calender-right__top-body :global(.fc-timeGridDay-button):hover,
.calender-right__top-body :global(.fc-timeGridWeek-button):hover,
.calender-right__top-body :global(.fc-dayGridMonth-button):hover {
  background-color: var(--primary);
  color: white;
}

.calender-right__top-body :global(.fc-timeGridDay-button):hover,
.calender-right__top-body :global(.fc-dayGridMonth-button):hover {
  background-color: var(--primary);
  border: none;
}

.calender-right__top-body :global(.fc-timeGridWeek-button):hover {
  border-left: 0.1rem solid var(--border);
  border-right: 0.1rem solid var(--border);
}

.calender-right__top-body :global(.fc-timeGridDay-button) {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.calender-right__top-body :global(.fc-timeGridWeek-button) {
  border-left: 0.1rem solid var(--border);
  border-right: 0.1rem solid var(--border);
}

.calender-right__top-body :global(.fc-dayGridMonth-button) {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.calender-right__top-body :global(.fc .fc-header-toolbar) {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

/* 

TODO -o-o-o-o-o-o-o-o-o-o-o-o-o-o-

          * Responsive

TODO -o-o-o-o-o-o-o-o-o-o-o-o-o-o-

*/

@media (max-width: 1440px) {
  .calender-events {
    overflow-y: auto;
    height: 50rem;
  }
}

@media (max-width: 1024px) {
  .calender-events {
    overflow-y: auto;
    height: 40rem;
  }
  .calender-event__btn a span,
  .calender-left__btn span,
  .event-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .calender-events {
    overflow-y: auto;
    width: 100%;
    max-width: 100rem;
    height: 30rem;
  }
  .calender-event__btn a {
    padding: 0.1rem 1rem;
  }
  .calender-event__btn a span,
  .calender-left__btn span {
    font-size: 1.2rem;
  }
  .calender-left__btn span {
    padding: 1rem 0.5rem;
  }
  .calender-right__top-body
    :global(.fc .fc-header-toolbar)
    div:nth-child(2)
    div
    h2 {
    font-size: 1.2rem;
  }
  .calender-right__top-body
    :global(.fc-toolbar-chunk:last-child .fc-button-group .fc-button) {
    font-size: 1rem;
    padding: 0.8rem;
  }
  .calender-left {
    padding: 1rem 0.5rem;
  }
  .calender-wrapper {
    align-items: center;
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .calender-right {
    padding: 2rem 1rem;
  }
}

@media (max-width: 425px) {
  .calender-right__top-body :global(.fc .fc-header-toolbar > div:last-child) {
    display: none;
  }
}

@media (max-width: 375px) {
  .calender-right__top-body :global(.fc .fc-header-toolbar > div:first-child) {
    display: none;
  }
}
